name: Publish

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: pypi-publish

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - run: python -m pip install --upgrade build twine

      - run: python -m build

      - name: Publish to PyPI
        run: python -m twine upload dist/*
        env:
          TWINE_PASSWORD: ${{secrets.PYPI_TOKEN}}
